@tailwind base;
@tailwind components;
@tailwind utilities;

/* 추가적인 전역 스타일을 여기에 정의할 수 있습니다. */
body {
  min-height: 100vh;
}

.ProseMirror {
  outline: none;
}

/* 모바일 뷰에서 문단 폰트 크기 키우기 */
@media (max-width: 768px) {
  .ProseMirror p {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
  }
}
